.button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0;
  background-color: var(--button-color);
  box-shadow: 0px 4px 0px #367E76;
  cursor: pointer;
}

.icon {
  width: 15px;
  height: 13px;
  background-image: url('../../assets/home-icon.svg');
}

