.wrapper {
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  position: relative;
}

.checkbox {
  opacity: 0;
  cursor: pointer;
}

.checkmark::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url('../../assets/check-icon.svg');
}

.wrapper:has(.checkbox:checked) .checkmark::after {
  content: url('../../assets/delete-icon.svg');
}