.wrapper {
  width: 25px;
  height: 25px;
  margin: 0;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
}

.wrapper:focus-visible {
  outline: none;
}

.checkbox {
  opacity: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  background: transparent;
  margin: 0;
}

.checkmark::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  content: '';
  background-image: url('../../assets/empty.svg');
  background-size: 120%;
  transition: all 0.5s;
}

.wrapper:has(.checkbox:checked) .checkmark::after {
  background-image: url('../../assets/check.svg');
}