.button {
  border: none;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 14px;
  font-family: var(--font);
  cursor: pointer;
}

.primary {
  background-color: var(--quaternary-color);
  padding: 10px 16px;
}

.transparent {
  background-color: transparent;
  padding: 10px 7px;
  color: var(--quaternary-color);
}
