.nav-wrapper {
  background-color: var(--nav-color);
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
}