.modal {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--nav-color);
  padding: 20px;
  z-index: 10;
  width: 75%;
  max-width: 280px;
  position: absolute;
  top: 30%;
} 

.modal p {
  font-family: var(--font);
  line-height: 1.5;
  font-weight: 400;
  color: #FFFFFF87;
  font-size: 14px;
}