.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 84px 24px;
}

.wrapper button {
  max-width: 155px;
  margin: 0 auto;
}

.code {
  margin-top: 32px; 
  color: var(--accent-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}