.close {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url('../../assets/close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  outline: none;
}