.round {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.title {
  margin: 0;
}

.equal {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../assets/equal-icon.svg');
}

.unequal {
    width: 30px;
      height: 30px;
  background-image: url('../../assets/unequal-icon.svg');
}