.round {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: var(--max-width);
  margin: 0 auto;
  z-index: 10;
}

.equal {
  background-color: var(--secondary-color);
}

.unequal {
  background-color: var(--alert-color);
}

.blitz {
  background-color: var(--primary-color);
}

.title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.equal .icon {
  background-image: url('../../assets/target.svg');
}

.unequal .icon {
  background-image: url('../../assets/diamond.svg');
}

.blitz .icon {
  background-image: url('../../assets/flash.svg');
}

.details {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 85px;
}

.round:has(.details) {
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.round:has(.details) .title {
  font-size: 16px;
  order: -1;
  display: flex;
  flex-direction: column;
}

.round:has(.details) .icon {
  width: 36px;
  height: 36px;
}

.subtitle {
  font-weight: 300;
}