.round {
  display: flex;
  justify-content: center;
  background-color: var(--nav-color);
  padding: 16px;
}

.round:has(.score) {
  justify-content: space-between;
}

.info {
  display: flex;
  gap: 8px;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.info div {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.equal {
  background-image: url('../../assets/owl.svg');
}

.unequal {
  background-image: url('../../assets/lark.svg');
}

.score {
  font-size: 20px;
  font-weight: 500;
  color: var(--accent-color);
}